In [1]:
import numpy as np
import pandas as pd

In [2]:
gender=['Male', 'Female']
income=['Poor', 'Middle Class', 'Rich']

In [3]:
gender_data=[]
income_data=[]
n=500

for i in range(n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [4]:
gender_data[:10]

['Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male']

In [5]:
income_data[:10]

['Rich',
 'Rich',
 'Rich',
 'Middle Class',
 'Poor',
 'Poor',
 'Rich',
 'Middle Class',
 'Poor',
 'Poor']

In [7]:
#Z=(0,1) media y desviacion
#N(m,s)=>m+s*Z
height=160+30*np.random.randn(n)
weight=65+25*np.random.randn(n)
age=30 +12*np.random.randn(n)
income=18000 +3500*np.random.randn(n)

In [8]:
data=pd.DataFrame(
    {
        "Gender":gender_data,
        "Economic Status":income_data,
        "Height":height,
        "Weight":weight,
        "Age":age,
        "Income":income
    }
)

In [9]:
data.head()

   Gender Economic Status      Height      Weight        Age        Income
0  Female            Rich  140.158160  108.493334  22.877299  20805.735545
1  Female            Rich  134.199528   73.325596  22.280123  18706.151395
2    Male            Rich  159.990965   95.000314  36.476317  18280.537791
3  Female    Middle Class  156.532298   62.586353  34.255502  15842.695011
4    Male            Poor  181.622562   75.303963   2.473012  15422.229660

# Agrupcion de datos

In [11]:
grouped_gender=data.groupby('Gender')

In [12]:
grouped_gender.groups

{'Female': Int64Index([  0,   1,   3,   6,   7,  11,  12,  15,  18,  19,
             ...
             482, 484, 485, 488, 489, 490, 492, 496, 498, 499],
            dtype='int64', length=251),
 'Male': Int64Index([  2,   4,   5,   8,   9,  10,  13,  14,  16,  17,
             ...
             480, 481, 483, 486, 487, 491, 493, 494, 495, 497],
            dtype='int64', length=249)}

In [13]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weight        Age        Income
0    Female            Rich  140.158160  108.493334  22.877299  20805.735545
1    Female            Rich  134.199528   73.325596  22.280123  18706.151395
3    Female    Middle Class  156.532298   62.586353  34.255502  15842.695011
6    Female            Rich  201.690886   45.989550  37.684465  17734.873468
7    Female    Middle Class  174.119841   88.947356   6.544208  20533.362143
..      ...             ...         ...         ...        ...           ...
490  Female            Rich  124.807323   18.863083  32.639029  22136.028398
492  Female            Poor  166.280347   71.579620  59.946705  23317.147660
496  Female            Rich  204.006987   37.910161  41.329934  16162.981564
498  Female            Poor  153.274056   79.656577  31.626900  15275.393612
499  Female            Poor  177.262150   66.311765  21.730505  14351.181073

[251 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age        Income
2     Male            Rich  159.990965   95.000314  36.476317  18280.537791
4     Male            Poor  181.622562   75.303963   2.473012  15422.229660
5     Male            Poor  162.206473   30.783868  35.133496  23445.628230
8     Male            Poor  172.626548  109.492541  32.142653  18312.304224
9     Male            Poor  176.883190   48.019189  20.446686  15113.072661
..     ...             ...         ...         ...        ...           ...
491   Male            Rich  150.092992   66.240098  28.981508  14957.698735
493   Male            Poor  175.905102   87.479303  45.587155  19520.074758
494   Male            Poor  146.896383   92.396857  27.006546  21850.594084
495   Male            Rich  172.714700    6.335666  29.876786  15493.475943
497   Male    Middle Class  227.246935    2.205917  26.990598  15219.692288

[249 rows x 6 columns]

In [14]:
grouped_gender.get_group('Female')

    Economic Status      Height      Weight        Age        Income
0              Rich  140.158160  108.493334  22.877299  20805.735545
1              Rich  134.199528   73.325596  22.280123  18706.151395
3      Middle Class  156.532298   62.586353  34.255502  15842.695011
6              Rich  201.690886   45.989550  37.684465  17734.873468
7      Middle Class  174.119841   88.947356   6.544208  20533.362143
..              ...         ...         ...        ...           ...
490            Rich  124.807323   18.863083  32.639029  22136.028398
492            Poor  166.280347   71.579620  59.946705  23317.147660
496            Rich  204.006987   37.910161  41.329934  16162.981564
498            Poor  153.274056   79.656577  31.626900  15275.393612
499            Poor  177.262150   66.311765  21.730505  14351.181073

[251 rows x 5 columns]

In [16]:
double_group=data.groupby(['Gender', 'Economic Status'])

In [18]:
len(double_group)

6

In [19]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height     Weight        Age        Income
3    Female    Middle Class  156.532298  62.586353  34.255502  15842.695011
7    Female    Middle Class  174.119841  88.947356   6.544208  20533.362143
19   Female    Middle Class  161.550577  64.844292   4.842190  18558.254147
24   Female    Middle Class  175.670174  59.516370  54.149438  14995.633289
40   Female    Middle Class  184.774563  63.701108   9.649233  25301.043585
..      ...             ...         ...        ...        ...           ...
448  Female    Middle Class  176.524721  96.841919  44.875017  20783.410390
452  Female    Middle Class  125.797333  72.118699  35.458382  20132.419539
457  Female    Middle Class  152.256732  71.644747  32.303908  16550.812632
458  Female    Middle Class  175.710054  79.448360  24.104298  23208.722611
485  Female    Middle Class  168.459921  59.622333  42.109138  24197.287199

[82 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height     Weight        Age        Income
12   Female            Poor  155.758022  77.543800  26.583653  19210.352028
18   Female            Poor  159.563740  76.396666  13.827212  13543.384378
23   Female            Poor  145.145173  67.013472  34.259391  17862.314642
25   Female            Poor  189.077571  96.807472  22.153690  19362.302470
32   Female            Poor  234.465508  58.902866  41.975639  15722.073123
..      ...             ...         ...        ...        ...           ...
468  Female            Poor  195.987808  95.350879  37.509933  20391.681954
475  Female            Poor  197.339736  66.598122   4.237323  12927.988783
492  Female            Poor  166.280347  71.579620  59.946705  23317.147660
498  Female            Poor  153.274056  79.656577  31.626900  15275.393612
499  Female            Poor  177.262150  66.311765  21.730505  14351.181073

[67 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight        Age        Income
0    Female            Rich  140.158160  108.493334  22.877299  20805.735545
1    Female            Rich  134.199528   73.325596  22.280123  18706.151395
6    Female            Rich  201.690886   45.989550  37.684465  17734.873468
11   Female            Rich  203.068172   83.064555  23.166837  20841.801858
15   Female            Rich  130.623986   28.257564  12.966934  20816.030205
..      ...             ...         ...         ...        ...           ...
484  Female            Rich  128.746051   61.683601  28.535701  14132.613232
488  Female            Rich  157.872782   76.715976  41.357303  16904.182066
489  Female            Rich  176.712835   65.728743  21.444097  23910.274603
490  Female            Rich  124.807323   18.863083  32.639029  22136.028398
496  Female            Rich  204.006987   37.910161  41.329934  16162.981564

[102 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age        Income
16    Male    Middle Class  180.268719   51.048404  40.068501  19686.467782
28    Male    Middle Class  172.987025   21.548323  22.920112  19753.035162
39    Male    Middle Class  161.780886   89.561409  26.604372  14432.359131
46    Male    Middle Class  187.806826   35.676847  40.511161  17872.309581
51    Male    Middle Class  149.519707  106.629740  16.909957  21603.950516
..     ...             ...         ...         ...        ...           ...
469   Male    Middle Class  144.303017   11.442313   3.698478  19626.204210
472   Male    Middle Class  152.453797   89.714324  30.472625  17044.470209
477   Male    Middle Class  154.939776   61.444679  44.189466  14382.913454
483   Male    Middle Class  164.301361   20.466622  41.509298  15178.061617
497   Male    Middle Class  227.246935    2.205917  26.990598  15219.692288

[82 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weight        Age        Income
4     Male            Poor  181.622562   75.303963   2.473012  15422.229660
5     Male            Poor  162.206473   30.783868  35.133496  23445.628230
8     Male            Poor  172.626548  109.492541  32.142653  18312.304224
9     Male            Poor  176.883190   48.019189  20.446686  15113.072661
10    Male            Poor  167.145573   63.980886  14.997139  25615.062507
..     ...             ...         ...         ...        ...           ...
471   Male            Poor  198.503312  114.401432  25.400962  21126.739157
480   Male            Poor  153.494437   82.695650  35.463533  20606.885686
481   Male            Poor  132.761265   50.755850  20.141497  20068.224683
493   Male            Poor  175.905102   87.479303  45.587155  19520.074758
494   Male            Poor  146.896383   92.396857  27.006546  21850.594084

[87 rows x 6 columns]
('Male', 'Rich')
    Gender Economic Status      Height      Weight        Age        Income
2     Male            Rich  159.990965   95.000314  36.476317  18280.537791
27    Male            Rich  221.093956   37.206222  40.344053  19635.104527
30    Male            Rich  162.932651   80.734315  30.407438  20332.851022
31    Male            Rich  135.912320   23.780528  16.449250  16327.435423
47    Male            Rich  162.662757   65.230617  44.216629  15756.054918
..     ...             ...         ...         ...        ...           ...
476   Male            Rich  146.897577   89.664682  35.002751  18153.101642
486   Male            Rich  144.488276   83.961856  37.503262  18288.073750
487   Male            Rich  185.032834  110.826885  38.494161  13129.955723
491   Male            Rich  150.092992   66.240098  28.981508  14957.698735
495   Male            Rich  172.714700    6.335666  29.876786  15493.475943

[80 rows x 6 columns]